// Color
$danger: #d32f2f;
$waring: #f79108;
$info: #1976d2;
$success: #43a047;
$red: #9D281B;
$lightWhite: #eeeeee;
$lightGrey: #d8dce4;
$midGrey: #94969a;
$darkGrey: #393e46;
$blackAlmost: #222831;
